
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
     background-color: transparent; 
     border-color: transparent transparent #f3f3f3; 
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
     color: #eee; 
    font-size: 20px;
}

#term{
   font-family: Lato;
   font-style: normal;
   font-weight: normal;
   font-size: 10px;
   line-height: 12px;
   text-align: center;
   color: #4A4A4A;
}

.api-key{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ACABB1;
}

.convert-document{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #4C3986
}


.main-part{
  height: 290px;
  background: #E8F2F7;
  border-radius: 8px;
}

.dropzone{
  background: #E8F2F7;
  border-radius: 8px;
  margin: 20px 50px;
}
.drop-img{
  display: grid;
}

.upload-button{
  background: #4C3986;
  border-radius: 8px 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.delete-button{
  position: absolute;
  background: #FAFAFA;
  border-radius: 0px 8px;
  bottom: 0;
}

.drop-button img{
  position: absolute;
  right: 0px;
}

