.container{
  padding: 0px;
}


.banner{
  background: #4C3986;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0px 8px;
}

.banner .header{
  text-align: center;
  color: #eee;
}

/* .banner img{
  position: absolute;
  width: 80px;
  height: 80px;
  background: #FFFFFF;
} */
.banner-middle .avatar{
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.banner-middle{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner .banner-middle{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  color: #F9F9F9;
}


.banner .banner-bottom{
  position: absolute;
  bottom: 0px;
  margin: 20px;
}

.banner .logout-btn{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #FF6464;
}

.banner #time{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
/* display: flex; */
  align-items: center;
  color: #F9F9F9;
}

.banner #date{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  margin: 0px;
/* identical to box height */

/* display: flex; */
  align-items: center;
  color: #F9F9F9;
}

.main-heading h6{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #4A4A4A;
}

.para p{
  font-family: Lato;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4A4A4A;

}

#term{
   font-family: Lato;
   font-style: normal;
   font-weight: normal;
   font-size: 10px;
   line-height: 12px;
   text-align: center;
   margin: 15px;
   color: #4A4A4A;
}



