<ng-container>
<div class=" m-3">
  <div class="row m-0">
    <div class="col-md-2 text-center p-3 banner">
      <div class="header">
        <h5>HippoDocs</h5>
      </div>
      <div class="banner-middle">
        <img src="avatar.png" alt="Avatar" class="avatar">
        <p>Hej, Nivrith!</p>
        <p>Preferences</p>
      </div>
      <div class="banner-bottom">
        <a href="#" class="btn logout-btn" role="button" aria-disabled="true">Logout</a>
        <p id="time">12:44 pm</p>
        <p id="date">Tuesday | 9 Apr 2019 | India</p>
      </div>
    </div>

    <div class="col-md-1"></div>

    <div class=" col-md-8">
      <div>
          <div class="center main-heading mt-3">
            <h6>Welcome To Your Dashboard</h6>
          </div>
          <div>
            <p class="para"><b>HippoDocs</b> is a PDF Conversion API for dynamic generation of PDF from system provided or user provided templates. Here you can take a look at your statistics & have short-links to frequent actions. You can also access functions in HippoPDF web application.
            </p>
          </div>
          <app-stepper></app-stepper>
     </div> 
    <p id="term">TERMS & CONDITIONS | FAQ | CONTACT US | SITE MAP | ABOUT US</p>
    </div>
  </div>
</div>
</ng-container>