<ng-container>  
  <div class="card mt-5 main-part">
    <div class="card-body tab-content p-0" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <button type="button" class="btn btn-lg upload-button">Upload File</button>
        <div class="drop-button">
          <button class="reset-button">
             <img class="p-1" src="https://raw.githubusercontent.com/skg1998/angular-hippodocs/master/src/asset/img/reset.png">
          </button>
        </div>
     </div>
   </div>
  </div>
</ng-container>  
