/* Add application styles & imports to this file! */
/* @import url('https://unpkg.com/bootstrap/dist/css/bootstrap.min.css'); */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */



 @font-face {
        font-family: "Lato";
        src: url('698242188-Lato-Bla.eot');
        src: url('698242188-Lato-Bla.eot?#iefix') format('embedded-opentype'),
        url('698242188-Lato-Bla.svg#Lato Black') format('svg'),
        url('698242188-Lato-Bla.woff') format('woff'),
        url('698242188-Lato-Bla.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
