<ng-container>
  <div>
    <div class="center main-heading mt-3">
      <h6>Welcome To Your Dashboard</h6>
    </div>
    <div class="para">
        <p ><b>HippoDocs</b> is a PDF Conversion API for dynamic generation of PDF from system provided or user provided         templates. Here you can take a look at your statistics & have short-links to frequent actions. You can also          access functions in HippoPDF web application.
        </p>
    </div>
  </div>
  <app-stepper></app-stepper>
</ng-container>